@keyframes run {
  from {
    opacity: 0;
    top: 2em;
    transform: translateX(-50%) scale(0.38) skew(200deg, 0deg);
  }
  to {
    opacity: 1;
    top: 0;
    transform: translateX(-50%) scale(1);
  }
}

@keyframes visibility {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.scale {
  animation: scale 0.4s forwards linear;
}

@keyframes scale {
  0% {
    transform: scale(1) translateX(0);
  }
  50% {
    transform: scale(0.7) translateX(0.7em);
  }
  100% {
    transform: scale(1) translateX(0);
  }
}

@keyframes circle1 {
  to {
    transform: translate(-50%, 0) rotate(180deg);
  }
}
@keyframes circle2 {
  to {
    left: 200%;
  }
}

@keyframes navbar {
  0% {
    transform: scale(0) translate(-50%, -50%);
  }
  100% {
    transform: scale(1) translate(-50%, -50%);
  }
}

@keyframes menu {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes light {
  0% {
    left: -50%;
  }
  100% {
    left: 50%;
  }
}
