@import 'tools';
@import 'flexbox';
@import 'animation';
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

$font-Noto: 'Noto Sans', sans-serif;
$font-Cormorant: 'Cormorant Garamond', serif;
$theme-orange: #e43825;
$header-img: 29em;
$header-rotate: 12deg;
$circle: 0.3s;

.header {
  height: 100vh;
  overflow: hidden;
  font-family: $font-Cormorant;
  &__bgc {
    height: 100vh;
    transform: rotate(-$header-rotate) scale(2);
    filter: blur(1px);
    li {
      @include size(100%, 50%);
    }
    &--top {
      overflow: hidden;
      .changeBox {
        @include size-bgc(100%, 80rem, 40em, none);
        &:nth-child(1) {
          @include absolute-lt(0%, 50%);
          transform: translateY(-50%);
        }
        &:nth-child(2) {
          @include absolute-rt(-50%, 0%);
          transition: all 1.5s;
        }
      }
    }
    &--down {
      overflow: hidden;
      .changeBox {
        &:nth-child(1) {
          @include size(100%, 80rem);
          @include absolute-lt(0%, 50%);
          transform: translateY(-50%);
        }
        &:nth-child(2) {
          @include size-bgc(80rem, 80rem, 50%, none);
          @include absolute-rb(-50%, 0%);
          transition: all 1.5s;
        }
      }
    }
  }
  &__img {
    @extend %flex-row-center;
    @include absolute-lt(0, 0);
    height: 100vh;
    margin: 0 auto;
    transform: rotate(-$header-rotate);
    li {
      position: absolute;
      animation: visibility 2s 2s forwards;
      opacity: 0;
      &:nth-child(1) {
        @include after('', $header-img, $header-img) {
          @extend %bg-contain;
          transform: rotate($header-rotate);
          background-image: url('../img/220412_PBS_web_cheese.png');
        }
      }
      &:nth-child(2) {
        @include after('', $header-img, $header-img) {
          @extend %bg-contain;
          transform: rotate($header-rotate);
          background-image: url('../img/220412_PBS_web_frambo_2.png');
        }
      }
      &:nth-child(3) {
        @include after('', $header-img, $header-img) {
          @extend %bg-contain;
          transform: rotate($header-rotate);
          background-image: url('../img/220412_PBS_web_kinako.png');
        }
      }
      &:nth-child(4) {
        @include after('', $header-img, $header-img) {
          @extend %bg-contain;
          transform: rotate($header-rotate);
          background-image: url('../img/220412_PBS_web_plain.png');
        }
      }
      &:nth-child(5) {
        @include after('', $header-img, $header-img) {
          @extend %bg-contain;
          transform: rotate($header-rotate);
          background-image: url('../img/220412_PBS_web_rum_3.png');
        }
      }
    }
  }
  &__title {
    @extend %flex-row-center;
    @include absolute-lt(50%, 0);
    @include font(3em, 1.5, 100, 0, 0.3em 0 0 0);
    font-family: $font-Noto;
    width: 65%;
    flex-wrap: nowrap;
    transform: translateX(-50%);
    color: #fff;
    z-index: 20;
    animation: run 2s 2s forwards;
    text-shadow: 3px 2px 5px rgb(124, 124, 124, 0.3);
    opacity: 0;
    .header__h1 {
      display: inline-block;
      margin: 0 16px;
      &:nth-child(6) {
        margin: 0 16px 0 40px;
      }
      &:nth-child(10) {
        margin: 0 40px 0 16px;
      }
    }
  }
  &__products {
    @extend %flex-row-center;
    @include absolute-lb(50%, 0);
    @include size(50%, 28vh);
    transform: translateX(-50%);
    z-index: 20;
    overflow: hidden;
    margin-bottom: 1em;
    .product__title {
      @extend %flex-col-around;
      position: absolute;
      height: 100%;
      color: #fff;
      animation: run 2s 2s forwards;
      opacity: 0;
      li {
        @extend %flex-row-center;
        flex-wrap: nowrap;
        white-space: nowrap;
        &:nth-child(1) {
          @include font(1.5em, 1em, 700, 0, 0);
        }
        &:nth-child(2) {
          @include font(4em, 1.1, 700, 0, 0);
        }
        &:nth-child(3) {
          @include font(0.7em, 1.1, 100, 0, 0);
        }
      }
    }
  }
  &__menu {
    @include fixed-rt(0%, 50%);
    transform-origin: top right;
    transform: rotate(90deg) translate(50%, 0);
    background-color: $theme-orange;
    opacity: 0;
    animation: menu 3s 2s forwards;
    transition: all 1s;
    ul {
      @extend %flex-row-center;
      transform-origin: 50% 50%;
      flex-wrap: nowrap;
      white-space: nowrap;
      padding: 1em 1em;
      span {
        color: #fff;
      }
      li {
        @include font(0.5em, 1.1, 400, 3px, 0);
        font-family: $font-Noto;
        text-align: center;
        color: #fff;
        padding: 1em;
        a {
          color: #fff;
          &:nth-child(1) {
            @include after('', 0, 0);
          }
        }
      }
      &:nth-child(1) {
        cursor: pointer;
      }
    }
  }
  &__scroll {
    @include absolute-lt(0, 50%);
    @include size-bgc(20%, 2em, 2em, none);
    transform-origin: left top;
    transform: rotate(-90deg) translate(-50%, 100%);
    flex-wrap: nowrap;
    white-space: nowrap;
    border: 1px solid #fff;
    overflow: hidden;
    p {
      @extend %absolute-center;
      @include font(1em, 1.1, 400, 0.4em, 0);
      color: #fff;
      margin: 0 1em;
    }
  }
  &__light {
    @include absolute-lb(50%, 0);
    transform: translateX(-50%);
    &--box {
      @extend %flex-row-center;
      li {
        @include size-bgc(4em, 4px, 4px, rgb(214, 214, 214, 0.5));
        margin: 3px;
        overflow: hidden;
        div {
          @include size-bgc(100%, 100%, 4px, $theme-orange);
          @include absolute-lt(-50%, 50%);
          transform: translate(-50%, -50%);
        }
      }
    }
  }
  .navbar--bgc {
    @include size-bgc(100%, 100%, 0, #000);
    @extend %absolute-center;
    opacity: 0.8;
    z-index: 25;
  }
  .navbar {
    @include size-bgc(80%, 70%, 0, $theme-orange);
    @extend %absolute-center;
    @extend %flex-row-around;
    align-items: flex-start;
    margin: 0 auto;
    padding: 3em;
    transform-origin: top left;
    animation: navbar 1s forwards;
    z-index: 30;
    ul {
      li {
        @include font(1em, 1.5, 700, 0.2em, 0);
        color: #fff;
        a {
          @include font(0.7em, 1.5, 400, 0.2em, 2em 0 0 0);
          @include hover-scale(1.2, 0.4s);
          display: block;
          color: #fff;
        }
      }
    }
    &__button {
      @include size(10em, 5em);
      @extend %flex-row-between;
      @include absolute-rb(0, 0);
      margin-bottom: 1em;
      margin-right: 1em;
      overflow: hidden;
      p {
        @include font(0.9em, 1.5, 200, 0.1em, 0);
        flex: 1;
        color: #fff;
        text-align: center;
        font-family: $font-Noto;
        cursor: pointer;
      }
      .button--x {
        @extend %flex-row-center;
        flex: 1;
        height: 100%;
        border: 1px solid rgba($color: #ffffff, $alpha: 0.7);
        border-radius: 5em;
        cursor: pointer;
        span {
          @include size(40%, 1px, 0, #fff);
          position: absolute;
          &:nth-child(1) {
            transform: rotate(45deg);
          }
          &:nth-child(2) {
            transform: rotate(-45deg);
          }
        }
      }
      .button--effect {
        @include size(100%, 50%, 5em, #fff);
        @extend %flex-row-center;
        @include absolute-rt(0, 0);
        transform: rotate(45deg);
        border: 1px solid #fff;
        span {
          &:nth-child(1) {
            @include size(60%, 105%, 0, $theme-orange);
            @include absolute-lb(50%, 50%);
            transform: translate(-50%, 0);
          }
          &:nth-child(2) {
            @include size(60%, 105%, 0, $theme-orange);
            @include absolute-lt(50%, 50%);
            transform: translate(-50%, 0);
            transform-origin: top center;
          }
        }
      }
      &:hover {
        .effect--1 {
          animation: circle2 $circle $circle forwards linear;
        }
        .effect--2 {
          animation: circle1 $circle forwards linear,
            circle2 $circle $circle forwards linear;
        }
      }
    }
  }
}
